<%= form_tag destroy_multiple_events_path, method: :delete do %>
<% @MyEvent.each do |myevent|%>
		
		
		<div class="one columns event_div">
			<%= check_box_tag "events[]", myevent.id %>
		</div>
		<div class="three columns event_div" >
			<%= myevent.event_date.strftime("%B %d %Y") %>
		</div>
		<div class="five columns event_div">
			<%= link_to myevent.name, myevent%>  
		</div>
		<div class="two columns event_div">
			<%#= link_to '===', edit_event_path(myevent) %> 
		</div>
		
			<div class=" pag_dev columns digg_pagination"> 
		
		</div>
	<% end %>
	<%= submit_tag "Delete selected" %>
<% end %>
	<%#= paginate @MyEvent %>