<div itemscope itemtype="http://data-vocabulary.org/Event">
<div class="twelve columns white_bg ">

<% @events_date.each do |eventdate, events|%> 
		<div class="ten columns">
		<h3><time itemprop="startDate" datetime="<%= eventdate.to_time.iso8601 %>"><%= eventdate.to_formatted_s(:long_ordinal)  %></time</h3>
		</div>
		<hr />
		<% for event in events %>
		
			<div class="four columns ">
				<%= link_to (image_tag  event.flyer_url(:small_thumb)),event  if event.flyer?  %>
				<%= link_to (image_tag("gc.gif",:itemprop=>"photo")) ,event if event.flyer.blank?%>		
		<div class="banner">	
				<h4 itemprop="summary"><%= link_to truncate(event.name ,:length => 17), event, :itemprop => "url" %> </h4>
				@ <%= event.location.location_name %> <%#= '[RECURRING]' if event.recurr? %>
		</div>

		<div>
			<%=truncate(event.detail ,:length => 40)%>
		</div>
			</div>
		 
		<% end %>
	<% end %>
	
	 
	
	<div class=" pag_dev twelve columns digg_pagination"> 
		<%= paginate @events %>
	</div>	
		</div>

		<% content_for :sidbar do %>
	<div class="four columns">
	<h4>Welcome:</h4>
	<p>
		To the New Goingclubing.com. Here you can find infomation on Nighlife and nightclubs in NYC, Brooklyn, Queens and the Bronx.. 
	</p>
	</div>

	<div class="four columns ads">

		<%= link_to "Advertise Here", contact_path %>
	</div>
	<% end %>
	</div>