<div class="twelve columns white_bg ">



	<% @events_date.each do |eventdate, events|%> 
		<div class="twelve columns">
		<h3><%= eventdate..to_formatted_s(:long_ordinal)  %></h3>
		</div>
		<hr />
		<% for event in events %>
		
			<div class="four columns ">
				<%= link_to (image_tag  event.flyer_url(:small_thumb)),event  if event.flyer?  %>
				<%= link_to (image_tag("gc.gif")) ,event if event.flyer.blank?%>		
				<div class="banner">	
				<h4><%= link_to truncate(event.name, :length => 17), event %> </h4>
				@ <%= event.location.location_name %> <%#= '[RECURRING]' if event.recurr? %>
		</div>
			</div>
		 
	<% end %>
	<% end %>
	
	 </div>
	
	<div class=" pag_dev columns digg_pagination"> 
		<%= paginate @events %>
		</div>
		
		<% content_for :sidbar do %>
<div class="four columns">
	<h4>Welcome:</h4>
	<p>
		To the New Goingclubing.com. Here you can find infomation on Nighlife and night clubs in NYC, Brooklyn, Queens and the Bronx.. 
	</p>
	</div>

	<div class="four columns ads">
		<%= link_to "Advertise Here", contact_path %>
	</div>
<% end %>
	