<div class="twelve columns white_bg ">

		
		<h1><%= title @event.name %></h1>
		
	<hr />
		 
		<p></p><%= simple_format(@event.detail) %></p>
		created By:<%= link_to @event.user.username, profile_path(@event.user.username) %>  <br />
		
		<hr />
		
		<%= image_tag  @event.flyer_url(:thumb) if @event.flyer? %>
		
	        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'goingclubing'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        


</div>

<% content_for :sidbar do %>
<!-- <div class="four columns">
	<h3>Going?</h3>
	<hr />
<%#= form_for ([@event, @event.rsvps.build]) do |f| %>
	<%#= f.hidden_field :event_id %>

	<%#=  f.hidden_field :user_id, {:value => current_user.id} if user_signed_in? %>
	
	<%#= f.submit 'IM INTERESTED' %>

<% #end%>
</div> -->
<div class="four columns">
	<h3>When:</h3>
	<hr />
	<%= @event.event_date.strftime("%B %d %Y") %>  | <%= '<b>[RECURRING]</b>' if event.recurr? %>
</div>

<div class="four columns">
	<h3>Where:</h3>
	<hr />
	<%= @event.location.location_name %>  <br />
	<%= @event.location.address %> <br />
	<%= @event.location.city %> <%= @event.location.state %>, <%= @event.location.zipcode %>  <br /><br />
	Phone: <%= @event.location.phone_number %> 
</div>

<div class="four columns">
	<h3>How Much:</h3>
	<hr />
	<%= @event.fee %>
</div>
<div class="four columns">
	<h3>Share:</h3>
	<hr />
	<span class='st_facebook_vcount' displayText='Facebook'></span>
	<span class='st_twitter_vcount' displayText='Tweet'></span>
	<span class='st_pinterest_vcount' displayText='Pinterest'></span>
</div>

<% end%>

