<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'NY Going Clubbing | New York Nightlubs Party Guide' %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "d719c163-162f-4fa2-88a6-af5fa49d0147"}); </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-128168-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="container">
	<div class="twelve header">
		<a href="/" > <h1>Goingclubing.com</h1></a>
   </div>	<!-- end of header div -->
		<div class="twehlve">
			<ul class="nav">
				<li><%= link_to 'Home', events_path %><li/>
				<li><%= link_to 'Account', '/myaccount' %><li/>
				<li><%= link_to 'Post an Event', new_event_path %><li/>
				
				
				<li>
					<% if user_signed_in? %> <%=  link_to current_user.username, edit_user_registration_path %> (<%= link_to 'Logout', destroy_user_session_path %>)
					<%else%>
					 <%= link_to 'Log in', new_user_session_path%> / <%= link_to 'Sign Up', '/users/sign_up' %> 
					<%end%>
					</> 	
				<li><%= link_to 'Contact Us', contact_path %><li/>
			</ul>
		</div><!-- end of nav div -->
	
		<div class="ContentHolder twelve columns layout_bg">
			
			  <% if flash[:alert] %>
			  <div class="twelve columns ">
			    <p class="error eight columns"><%= flash[:alert] %></p>
			</div>
			  <% end %>
			  <% if flash[:notice] %>
			  <div class="twelve columns ">
			    <p class="notice eight columns"><%= flash[:notice] %></p>
			  </div>
			  <% end %>
			 
			
		
			<%= yield %> <!-- end of containter div -->
		
	</div>
		
		<div class="sidbar four columns">
			<%= yield :sidbar %> 
		</div>
		
</div>
<div class="container footer ">
	<div class=" sixteen columns">
		<div class="five columns">
		<ul class="">
				<li><%= link_to 'Home', events_path %><li/>
				<li><%= link_to 'Account', '/myaccount' %><li/>
				<li><%= link_to 'Post an Event', new_event_path %><li/>
				
				<li>
					<% if user_signed_in? %> <%=  link_to current_user.username, edit_user_registration_path %> (<%= link_to 'Logout', destroy_user_session_path %>)
					<%else%>
					 <%= link_to 'Log in', new_user_session_path%> / <%= link_to 'Sign Up', '/users/sign_up' %> 
					<%end%>
					</> 	
				<li><%= link_to 'Contact Us' , contact_path %><li/>
			</ul>	
			<a title="Google Analytics Alternative" href="http://getclicky.com/176838"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(176838);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/176838ns.gif" /></p></noscript>
	</div>
	<div class="five columns">
		   <h5>Sites We Like.</h5> 
    <ul>
        <li> <a href="http://newyork.joonbug.com/" target="_blank">Halloween and New Years Eve Parties NYC</a>  </li>
        <li><a href="http://www.newyearsevecentral.com" target="_blank">New Years Eve Parties</a></li>
        <li><a href="http://www.nyfreelancers.com" target="_blank">New York Web Designers</a></li>
        <li><a href="http://www.bachelorvegas.com/nightclubs.html" title="Las Vegas night clubs"> Las Vegas Nightclubs </a></li>
    </ul>
	</div>

	<div class="five columns">
			
	</div>

<!--End mc_embed_signup-->
	</div>
</div>	
   

 <%= javascript_include_tag "application" %> 


</body>
</html>
