<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'NY Going Clubbing | New York Nightlubs Party Guide' %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "d719c163-162f-4fa2-88a6-af5fa49d0147"}); </script>

</head>
<body>
<div class="container">
	<div class="twelve header">
		<h1>Goingclubing.com</h1>
   </div>	<!-- end of header div -->
		<div class="twehlve">
			<ul class="nav">
				<li><%= link_to 'Home', events_path %><li/>
				<li><%= link_to 'Account', '/myaccount' %><li/>
				<li><%= link_to 'Post an Event', new_event_path %><li/>
				
				
				<li>
					<% if user_signed_in? %> <%=  link_to current_user.username, edit_user_registration_path %> (<%= link_to 'Logout', destroy_user_session_path %>)
					<%else%>
					 <%= link_to 'Log in', new_user_session_path%> / <%= link_to 'Sign Up', '/users/sign_up' %> 
					<%end%>
					</> 	
				<li><%= link_to 'Contact Us', contact_path %><li/>
			</ul>
		</div><!-- end of nav div -->
	
		<div class="ContentHolder twelve columns layout_bg">
			
			  <% if flash[:alert] %>
			  <div class="twelve columns ">
			    <p class="error eight columns"><%= flash[:alert] %></p>
			</div>
			  <% end %>
			  <% if flash[:notice] %>
			  <div class="twelve columns ">
			    <p class="notice eight columns"><%= flash[:notice] %></p>
			  </div>
			  <% end %>
			 
				
		
			<%= yield %> <!-- end of containter div -->
		
		</div> <!-- end of ContentHolder div -->
		
		<div class="sidbar four columns">
			<%= yield :sidbar %> 
		</div>
		
</div>
<div class="container footer ">
	<div class=" sixteen columns">
		<div class="five columns">
		<ul class="">
				<li><%= link_to 'Home', events_path %><li/>
				<li><%= link_to 'Account', '/myaccount' %><li/>
				<li><%= link_to 'Post an Event', new_event_path %><li/>
				
				<li>
					<% if user_signed_in? %> <%=  link_to current_user.username, edit_user_registration_path %> (<%= link_to 'Logout', destroy_user_session_path %>)
					<%else%>
					 <%= link_to 'Log in', new_user_session_path%> / <%= link_to 'Sign Up', '/users/sign_up' %> 
					<%end%>
					</> 	
				<li>Contact Us<li/>
			</ul>	
	</div>
	<div class="five columns">
		    Sites We Like.
    <ul>
        <li> <a href="http://newyork.joonbug.com/" target="_blank">Halloween and New Years Eve Parties NYC</a>  </li>
        <li><a href="http://www.newyearsevecentral.com" target="_blank">New Years Eve Parties</a></li>
        <li><a href="http://www.nyfreelancers.com" target="_blank">New York Web Designers</a></li>
        <li><a href="http://www.bachelorvegas.com/nightclubs.html" title="Las Vegas night clubs"> Las Vegas Nightclubs </a></li>
    </ul>
	</div>
</div>	
   

 <%= javascript_include_tag "application" %> 


</body>
</html>
